.mbStyle{
  display: flex;
  height: 1rem;
  justify-content: space-between;

}

.mbStyle button {
  background-color: white;
}
@media only screen and (max-width: 740px){
  body{
    width: max-width;
  }

  .hidden{
    display: none;
  }
  
}
