.clockSystem{
  width: 100%;
  display: flex;
  height: 140px;
  text-align: center;
  justify-content:space-around;
}

#focusItem {
  margin: auto 0;
}

.focus{
  width: 160px;
  height: 100px;
  border-radius: 35px;
  font-size: 3rem;
  line-height: 100px;

}

.timeCheck{
  margin: auto 0;
  background-color:aliceblue;
  width: 360px;
  height: 120px;
  border-radius: 25px;
  line-height: 45px;
}


.timeCheck button,
.timeCheck input {
  border-radius: 10px;
  border: 0.5px solid rgba(0,0,0,0.4);
}


.timeSet{
  width: 100px;
  height: 60px;
  /* background-color: aquamarine; */
  border-radius: 15px;
  margin: 5px;
  display: relative;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}


#centerCircle{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  /* border: 1px solid green; */
  z-index: 1000;
}

#backCircle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  position: absolute;
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  z-index: 600;
}

@media only screen and (max-width: 740px){
  #focusItem {
    margin: auto 0;
  }
  .focus {
    width: 120px;
    height: 75px;
    font-size: 2rem;
    line-height: 75px;
    border-radius: 35px;
  }

  .timeCheck{
    width: 320px;
    height: 120px;
  }
  .timeCheck button {
    width: 60px;
  }
  .timeSet{
    width: 50px;
    height: 30px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px){
  #focusItem {
    margin: auto 0;
  }
   .timeCheck{
  width: 130px;
    height: 120px;
  }

  .mbHidden {
    display: none;
  }
  
  .timeCheck button {
    width: 50px;
  }
  .timeSet{
    font-size: 0.8rem;
    width: 25px;
    height: 40px;

  }
}
